@import "fonts.scss";
@import "reset.scss";

html,
body {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
}
.jua {
  font-family: "Jua";
}
#app {
  display: flex;
  align-items: center;
  min-height: 100%;
}
#wrap {
  box-sizing: border-box;
  max-width: 1080px;
  width: 520px;
  padding: 20px;
  margin: 0 auto;
  .mobile & {
    width: 100%;
    max-width: 640px;
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 50px;
  [class^="btn-"] {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid #000;
    box-shadow: inset 4px 4px 0 rgb(255 255 255 / 60%),
      inset -4px -4px 0 rgb(0 0 0 / 35%);
    padding: 10px;
    background: #ddd;
    word-break: keep-all;

    & + [class^="btn-"] {
      margin-left: 10px;
    }
  }
}
