// eslint-disable
//@font-face {
//  font-family: "SpoqaHanSansNeo";
//  font-style: normal;
//  font-weight: 400;
//  src: url("/fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
//    url("/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
//}
//@font-face {
//  font-family: "SpoqaHanSansNeo";
//  font-style: normal;
//  font-weight: 500;
//  src: url("/fonts/SpoqaHanSansNeo-Medium.woff") format("woff"),
//    url("/fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2");
//}
//@font-face {
//  font-family: "SpoqaHanSansNeo";
//  font-style: normal;
//  font-weight: 700;
//  src: url("/fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
//    url("/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
//}

@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@font-face {
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Jua", sans-serif;
  font-style: normal;
  font-weight: 400;
}
